@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="app-main">
        <header class="top-row px-4">
            <span>Plan smarter. Waste less. Eat well.</span>
        </header>

        <article class="content px-4" id="main-content">
            @Body
        </article>
        <footer class="app-footer px-4">
            <span>&copy; @DateTime.Now.Year Smart Food Planner</span>
        </footer>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
